{% extends "layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
    <form method="post" autocomplete="off" novalidate>
        {% block CsrfToken %}
            <input id="csrf-crumb" type="hidden" name="CsrfToken" value="{{ CsrfToken }}">
        {% endblock %}

        {% block formContent %}
        {% endblock %}

        {{ govukButton({
            text: "Continue"
        }) }}
    </form>
{% endblock %}

