
<!-- Hide the back link with css if no-script -->
<noscript>
    <style>#back-link {display: none} </style>
</noscript>

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
    text: "Back",
    href: "#",
    attributes: {
        id: "back-link",
        onclick: "window.history.go(-1); return false;"
    }
}) }}