{% extends "layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
    <form method="post" autocomplete="off" novalidate>
        {{ govukRadios({
            idPrefix: "answer",
            name: "answer",
            fieldset: {
                legend: {
                    text: pageHeading,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            hint: hint,
            items: items
        }) }}

        {{ govukButton({
            text: "Continue"
        }) }}
    </form>
{% endblock %}
